/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace spark "spark.skins.spark.*";

.formaPolizasDiario{
	fontWeight:bold;
}

.resultadoPoliza{
	fontWeight:normal;
}
global
{
	font-weight: normal;
}


